<div class="information_popup_container">
	<div class="information">
		<img src=<%= path %> alt=<%= title %>, id='icon' />
	</div>
	<div class="popup_information">
		<h3><center><%= title.capitalize %><br>
			<img src=<%= path %> alt=<%= title %>, id='icon3' />
		</center></h3>
		<%= description %>
	</div>
</div>
