<% path = "'../images/treasures/gemas/#{gema[:name]}.png'" %>

<div class="information_popup_container">
	<div class="information">
		<img src=<%= path %> alt=<%= gema[:name] %>, id='icon' />
	</div>
	<div class="popup_information">
		<h3><center><%= gema[:name].capitalize %><br><br>
			<img src=<%= path %> alt=<%= gema[:name] %>, id='icon3' />
		</center></h3>
		<%= gema_stats(gema[:id]) %>
	</div>
</div>
