<div class="information_popup_container">
	<div class="information">
		<img src=<%= h.img_path %> alt=<%= h.name %> , id='icon' />
	</div>
	<div class="popup_information">
		<h3><center><%= h.name %><br><br>
			<img src=<%= h.big_path %> alt=<%= h.name %>, id='portrait' />
		</center></h3>
	</div>
</div>