<div class="information_popup_container">
	<div class="information">
		<% if h.muerto %>
			<img src=../images/personajes/dead.png	alt="muerto" /, id='icon'>
		<% else %>
			<img src=<%= h.img_path %> alt=<%= h.name %> , id='icon' />
		<% end %>
	</div>
	<div class="popup_information">
		<center>
			<h3><%= h.name %><br><br></h3>
			<img src=<%= h.big_path %> alt=<%= h.name %>, id='portrait' />
			<% if h.muerto %>
				<br>Muerto con honor.<br>
				R.I.P
			<% end %>
		</center>
	</div>
</div>