<title>Hero Sheet: Elementales</title>
<body>
<%= erb :menu %>

<link rel="stylesheet" href="../../css/main.css" type="text/css" />
<link rel="stylesheet" href="../../app.css" type="text/css" />

<br><h1>Elementales</h1><br><br>

<table id='table-2'>
	<thead>
		<tr><td>Icono</td>
			<% elementals.first.keys[1..-1].each do |column| %>
				<th><%= column %></th>
			<% end %>
		</tr>	
	</thead>
	<tbody>
		<% elementals.each do |d| %>
			<tr><td><% img_path = "'../images/criaturas/elementales/#{d[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=d[:name]%>, id='icon3' />
				</td>
				<td>Elemental de <%= d[:name].capitalize %></td>
				<td><%= d[:cuerpo]      %></td>
				<td><%= d[:mente]       %></td>
				<td><%= d[:movimiento]  %></td>
				<td>
					<% if d[:hechizos] %>
						<table id = 'table-2'>
							<tbody>
								<tr><% d[:hechizos].each do |magia| %>
										<td><% hechizo = (spell(magia))[:name] %>									
											<% img_path   = "'../images/spells/#{hechizo}.png'"     %>
											<img style="vertical-align:middle" 
										 	src=<%=img_path%> alt=<%= hechizo %>, id='icon' />		
										 	<%= hechizo.capitalize %>
										</td>
									<% end %>	
								</tr>
							</tbody>
						</table>
					<% else %>
						Ninguno.
					<% end %>
				</td>
				<td><%= d[:miedo] %>+</td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>
