<title>Hero Sheet: La Ciudad</title>
<%= erb :menu %>
<br><h1>La Ciudad de Jadessvärd</h1>


<table id='tlabel'>
	<tbody>
		<tr>
			<td width='25%'>
				<% img_path = "'../images/ciudad/ayuntamiento.png'" %>
				<img src=<%= img_path %> alt=<%= "ayuntamiento" %>, id='icon4' />
				<table id='table-2'>
					<thead>
						<tr><th>Ayuntamiento</th></tr>
					</thead>
					<tbody>
						<tr><td>Consejo de Notables</td></tr>
						<tr><td>Palacio Imperial</td></tr>
						<tr><td>Templo de Sigmar</td></tr>
						</tr>
					</tbody>
				</table>
			</td>
			<td width='25%'>
				<% img_path = "'../images/ciudad/torre de magia.png'" %>
				<img src=<%= img_path %> alt=<%= "torre de magia" %>, id='icon4' />
				<table id='table-2'>
					<thead>
						<tr><th>Torre de magia</th></tr>
					</thead>
					<tbody>
						<tr><td><a href='/magia/escuelas'>Escuelas de magia</a></td></tr>
						<tr><td>Magisters</td></tr>
						<tr><td><a href='/magia/especializaciones'>Especializaciones</a></td></tr>
						</tr>
					</tbody>
				</table>
			</td>
			<td width='25%'>
				<% img_path = "'../images/ciudad/gremio de artesanos.png'" %>
				<img src=<%= img_path %> alt=<%= "torre de magia" %>, id='icon4' />
				<table id='table-2'>
					<thead>
						<tr><th>Gremio de Artesanos</th></tr>
					</thead>
					<tbody>
						<tr><td>Herrero</th></tr>
						<tr><td>Orfebre</td></tr>
						<tr><td><a href='/items/piezas'>Ingeniero</a></td></tr>
						</tr>
					</tbody>
				</table>
			</td>
			<td width='25%'>
				<% img_path = "'../images/ciudad/cuarteles.png'" %>
				<img src=<%= img_path %> alt=<%= "cuarteles" %>, id='icon4' />
				<table id='table-2'>
					<thead>
						<tr><th>Los cuarteles</th></tr>
					</thead>
					<tbody>
						<tr><td><a href='/heroes'>Héroes de la Ciudad</a></th></tr>
						<tr><td><a href='/maestrodearmas'>Maestro de Armas</a></td></tr>
						<tr><td><a href='/licenciados'>Muro de la Gloria</a></td></tr>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>