<title>Hero Sheet: Habilidades del <%= @char %></title>
<%= erb :menu %><br><br><br<br>

<link rel="stylesheet" href="../../css/main.css" type="text/css" />
<link rel="stylesheet" href="../../app.css" type="text/css" />

<h1>Habilidades del <%= @char.gsub('lord','señor').capitalize %></h1>
<table id='table-2'>
	<thead>
		<tr><% disciplinas.each do |d| %>
				<th><%= d.capitalize %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% plural = ((@char == "lord de las bestias") ? "lords" : (@char+"s")) %>
		<% send(plural).each do |c| %>
			<tr><td><%= c[:id] %></td>
				<td><% img_path = "'../images/skills/#{@char}/#{c[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%= c[:name] %>, id='icon' />
				</td>
				<td><%= c[:type].capitalize %></td>
				<td><%= c[:name].capitalize %></td>
				<td><i><%= c[:description].capitalize %></i></td>
				<td><%= "In progress" %></td>
				<td><%= "In progress" %></td>
			</tr>
		<% end %>
	</tbody>
</table>