<div class="information_popup_container">
	<div class="information">
		<% @title %>
		<img src=<%= @path %> alt=<%= @title %>, id='icon' />
	</div>
	<div class="popup_information">
		<center>
			<h3>	
				<%= @name %><br><br>
				<img src=<%= @path %> alt=<%= @name %>, id='icon3' />
			</h3>
		</center>

		<%= @description %>
	</div>
</div>
