<h1><center><%= @heroe[:name] %></center></h1><hr>
<h3><center><%= @heroe[:jugador] %></center></h3>
<a href=/>Índice</a><br>

<link rel="stylesheet" href="../../app.css" type="text/css" />
<table id='table-2'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Nivel</th>
			<th>Personaje</th>
			<th>Raza</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= @heroe[:id] %></td>
			<td><%= @heroe[:nivel] %></td>
			<td><%= @heroe[:personaje].capitalize %></td>
			<td><%= personaje(@heroe[:personaje]).capitalize %></td>
		</tr>
	</tbody>
</table>

<h2>Hechizos Conocidos</h2>
<% unless @heroe[:hechizos].empty? %>
	<table id='table-2'>
	<thead>
		<th>Icono</th>
		<th>Elemento</th>
		<th>Nombre</th>
		<th>Descripción</th>
	</thead>
	<tbody>
		<% @heroe[:hechizos].each do |magia|%>		
			<tr style=<%= color(spell(magia)[:elemento])%>>				
				<td><% img_path = "'../../images/spells/#{spell(magia)[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=spell(magia)[:name]%>, id='icon' />
				</td>
				<td><%= spell(magia)[:elemento].capitalize %></td>
				<td><%= spell(magia)[:name].capitalize %></td>
				<td><%= spell(magia)[:descripcion] %></td>
			</tr>
		<% end %>
	</tbody>
	</table>
<% else %>El personaje no conoce ningun hechizo
<% end %>

<h2>Armas</h2>
<% @heroe[:armas].each do |objeto|%>
	<li><%= arma(objeto)[:name].capitalize %></li>
<% end %>
<%= "El personaje no tiene ningun arma todavia." if @heroe[:armas].empty? %>


<h2>Habilidades</h2>
<% @heroe[:skills].each do |habilidad| %>
	<li><%= skill(habilidad)[:name].capitalize %>
<% end %>
<%= "El personaje no tiene ninguna habilidad" if @heroe[:skills].empty? %>