<title>Hero Sheet: Ficha de <%= @heroe[:name] %></title>
<h1><center><%= @heroe[:name] %></center></h1>
<h3><center><%= @heroe[:jugador] %></center></h3>
<a href=/>Índice</a><br>

<link rel="stylesheet" href="../../app.css" type="text/css" />
<table id='table-2'>
	<thead>
		<tr>
			<% descripcion.each do |f| %>
				<th><%= f.capitalize %></th>
			<% end%>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src=../images/personajes/<%= genderize(personaje(@heroe[:personaje]), @heroe[:sex] ) %>.png 
				alt="personaje" /, id='icon2'></td>
			<td><%= @heroe[:nivel] %></td>
			<td><%= @heroe[:repu] || 0 %></td>
			<td>
				<table id='table-2'>
					<tbody>
						<tr>
							<td>Cuerpo</td>
							<td>Mente</td>
							<td>Movimiento</td>
						</tr>
						<tr>
							<td><%= @heroe[:cuerpo] %></td>
							<td><%= @heroe[:mente] %></td>
							<td><%= @heroe[:mov] %></td>
						</tr>
					</tbody>
				</table>
			</td>
			<td>
				<table id='table-2'>
					<tbody>
						<tr>
							<td>Melee</td>
							<td>Rango</td>
							<td>Defensa</td>
						</tr>
						<tr>
							<td><%= ataque( @heroe[:id]) %></td>
							<td><%= rango(  @heroe[:id]) %></td>
							<td><%= defensa(@heroe[:id]) %></td>
						</tr>
					</tbody>
				</table>
			</td>
			<td><%= @heroe[:personaje].capitalize %></td>
			<td><% raza = is_human?(@heroe[:personaje]) ? "humano" : personaje(@heroe[:personaje]) %>
				<%= genderize(raza,@heroe[:sex]).capitalize %></td>
		</tr>
	</tbody>
</table>
<h3><center>Armamento</center></h3>
<table id='table-2'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Icono</th>
			<th>Nombre</th>
			<th>Poder</th>
			<th><a href=/encantamientos>Encantamientos</a></th>
			<th>Engarces</th>
		</tr>
	</thead>
	<tbody>
		<% @heroe[:armas].each do |a| %>
			<tr>
				<td><%= a[:id] %></td>
				<td><% img_path = "'../images/armas/#{arma(a[:id])[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=arma(a[:id])[:name]%>, id='icon' />
				</td>
				<td><%= arma(a[:id])[:name].capitalize %></td>
				<td><%= arma(a[:id])[:powa] %></td>				
				<td><% if a[:enchants].nil? %>
					Arma mundana
					<% else %>
						<table id='table-2'>
							<tbody>
								<tr>
									<% a[:enchants].each do |e| %>
										<td><%= enchant(e)[:name].capitalize %></td>
									<% end %>
								</tr>
							</tbody>
						</table>
					<% end%>
				</td>
				<td>
					<% if mundano?(a) %>
						El arma no tiene engarces.
					<% else %>
						<% engarces.each do |engarce| %>
							<% if a[eval(':' + engarce)] %>
								<% a[eval(':' + engarce)].each do |e| %>
									<% e_name = send(engarce.gsub('s',''),e)[:name] %>
									<% img_path = "'../images/treasures/#{engarce}/#{e_name}.png'" %>
									<img src=<%=img_path%> alt=<%= e_name %>, id='icon' />
								<% end %>
							<% end %>
						<% end %>					
					<% end %>
				</td>
			</tr>
		<% end %>
		<%= "El personaje no tiene ningun arma todavia." if @heroe[:armas].empty? %>
	</tbody>
</table>
<br>
<table id='table-2'>
	<thead>
		<tr>
			<th>Armadura</th>
			<th>Protecciones</th>
			<th>Miscelánea</th>
			<th>Hechizos Conocidos</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<% @heroe[:armaduras].each do |a| %>
					<% img_path = "'../images/armaduras/#{armadura(a[:id])[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=armadura(a[:id])[:name]%>, id='icon' />
				<% end %>
			</td>
			<td>
				<% if @heroe[:prots].empty? %>
					El personaje no tiene ninguna protección aun.
				<% else %>
					<% @heroe[:prots].each do |p|%>
						<% img_path = "'../images/protecciones/#{proteccion(p[:id])[:name]}.png'" %>
						<img src=<%=img_path%> alt=<%=proteccion(p[:id])[:name]%>, id='icon' />
					<% end %>
				<% end%>
			</td>
			<td>
				<% @heroe[:miscs].each do |m| %>
					<% img_path = "'../images/miscelaneas/#{miscelanea(m[:id])[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=miscelanea(m[:id])[:name]%>, id='icon' />
				<% end %>
			</td>
			<td>
				<% elements(@heroe[:hechizos]).each do |e| %>	
					<% img_path =  "'../images/elements/#{e}.png'" %>
					<img src=<%=img_path%> alt=<%=e%>, id='icon' />
				<% end %>
				<% unless @heroe[:hechizos].empty? %>
					<br><a href=../spells/<%=@heroe[:id]%>>Lista de hechizos conocidos</a><br>
				<% else %>El personaje no conoce ningun hechizo
				<% end %>					
			</td>
		</tr>
	</tbody>
</table>
<h3><center>Tesoros</center></h3>
<table id='table-2'>
	<thead>
		<tr><% engarces.each do |engarce| %>
				<th><%= engarce.capitalize %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>				
			<% engarces.each do |engarce| %>
				<td>
					<% if @heroe[eval(":#{engarce}")] %>
						<% @heroe[eval(":#{engarce}")].each do |e| %>
							<% e_name = send(engarce.gsub('s',''),e)[:name] %>
							<% img_path = "'../images/treasures/#{engarce}/#{e_name}.png'" %>
							<img src=<%=img_path%> alt=<%= e_name %>, id='icon' />
						<% end %>
					<% else %>
						El héroe no tiene <%= engarce %>.
					<% end %>
				</td>
			<% end %>
		</tr>
	</tbody>
</table>
<h3><center>Útiles</center></h3>
<table id='table-2'>
	<thead>
		<tr>
			<% utiles.each do |util| %>
				<th><%= util.capitalize %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<% if @heroe[:pociones] %>
					<% @heroe[:pociones].each do |p| %>
						<% img_path = "'../../images/utiles/pociones/#{pocion(p)[:name]}.png'" %>
						<img src=<%=img_path%> alt=<%=pocion(p)[:name]%>, id='icon' />
					<% end %>
				<% else %>
					El personaje no tiene ninguna poción.
				<% end %>
			</td>
			<td>
				<% if @heroe[:pergaminos] %>
					<% @heroe[:pergaminos].each do |p| %>
						<% img_path = "'../../images/utiles/pergaminos/#{pergamino(p)[:name]}.png'" %>
						<img src=<%=img_path%> alt=<%=pocion(p)[:name]%>, id='icon' />
					<% end %>
				<% else %>
					El personaje no tiene ninguna pergamino.
				<% end %>
			</td>
			<td>
				<% if @heroe[:piezas] %>
					<% @heroe[:piezas].each do |p| %>
						<% img_path = "'../../images/utiles/piezas/#{pieza(p)[:name]}.png'" %>
						<img src=<%=img_path%> alt=<%=pieza(p)[:name]%>, id='icon' />
					<% end %>
				<% else %>
					El personaje no tiene ninguna pieza de profesión.
				<% end %>
			</td>
		</tr>
	</tbody>
</table>