<title>Hero Sheet: Ficha de <%= @heroe[:name] %></title>
<h1><center><%= @heroe[:name] %></center></h1>
<h3><center><%= @heroe[:jugador] %></center></h3>
<a href=/>Índice</a><br>

<link rel="stylesheet" href="../../app.css" type="text/css" />
<table id='table-2'>
	<thead>
		<tr>
			<th>Rostro</th>
			<th>Nivel</th>
			<th>Reputación</th>
			<th>Atributos</th>
			<th>Combate</th>
			<th>Personaje</th>
			<th>Raza</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<% case @heroe[:sex]
					when "male" %>
						<% case personaje(@heroe[:personaje])
						when "enano" then %>
							<img src="../images/enano.png" alt="rss feed" /, id='icon2'>
						<% when "elfo" then %>
							<img src="../images/elfo.png" alt="rss feed" /, id='icon2'>
						<% when "tiefling" then %>
							<img src="../images/tiefling.png" alt="rss feed" /, id='icon2'>
						<% when "mago" then %>
							<img src="../images/mago.png" alt="rss feed" /, id='icon2'>
						<% when "ladron" then %>
							<img src="../images/ladron.png" alt="rss feed" /, id='icon2'>
						<% when "barbaro" then %>
							<img src="../images/barbaro.png" alt="rss feed" /, id='icon2'>
						<% end%>
					<% when "female" %>
						<% case personaje(@heroe[:personaje])
						when "elfo" then %>
							<img src="../images/elfa.png" alt="rss feed" /, id='icon2'>
						<% when "tiefling" then %>
							<img src="../images/tiefling-female.png" alt="rss feed" /, id='icon2'>
						<% when "mago" then %>
							<img src="../images/maga.png" alt="rss feed" /, id='icon2'>
						<% when "ladron" then %>
							<img src="../images/ladrona.png" alt="rss feed" /, id='icon2'>
						<% when "barbaro" then %>
							<img src="../images/barbara.png" alt="rss feed" /, id='icon2'>
						<% end%>
					<% end %>
			</td>
			<td><%= @heroe[:nivel] %></td>
			<td><%= @heroe[:repu] %></td>
			<td>
				<table id='table-2'>
					<tbody>
						<tr>
							<td>Cuerpo</td>
							<td>Mente</td>
							<td>Movimiento</td>
						</tr>
						<tr>
							<td><%= @heroe[:cuerpo] %></td>
							<td><%= @heroe[:mente] %></td>
							<td><%= @heroe[:mov] %></td>
						</tr>
					</tbody>
				</table>
			</td>
			<td>
				<table id='table-2'>
					<tbody>
						<tr>
							<td>Melee</td>
							<td>Rango</td>
							<td>Defensa</td>
						</tr>
						<tr>
							<td><%= ataque(@heroe[:id]) %></td>
							<td><%= rango(@heroe[:id]) %></td>
							<td><%= defensa(@heroe[:id]) %></td>
						</tr>
					</tbody>
				</table>
			</td>
			<td><%= @heroe[:personaje].capitalize %></td>
			<td><% raza = is_human?(@heroe[:personaje]) ? "humano" : personaje(@heroe[:personaje]) %>
				<%= genderize(raza,@heroe[:sex]).capitalize %></td>
		</tr>
	</tbody>
</table>
<h3><center>Armamento</center></h3>
<table id='table-2'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Icono</th>
			<th>Nombre</th>
			<th>Poder</th>
			<th><a href=/encantamientos>Encantamientos</a></th>
			<th>Engarces</th>
		</tr>
	</thead>
	<tbody>
		<% @heroe[:armas].each do |a| %>
			<tr>
				<td><%= a[:id] %></td>
				<td><% img_path = "'../images/armas/#{arma(a[:id])[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=arma(a[:id])[:name]%>, id='icon' />
				</td>
				<td><%= arma(a[:id])[:name].capitalize %></td>
				<td><%= arma(a[:id])[:powa] %></td>				
				<td><% if a[:enchants].nil? %>
					Arma mundana
					<% else %>
						<table id='table-2'>
							<tbody>
								<tr>
									<% a[:enchants].each do |e| %>
										<td><%= enchant(e)[:name].capitalize %></td>
									<% end %>
								</tr>
							</tbody>
						</table>
					<% end%>
				</td>
				<td>
					<% if (a[:gemas].nil? && a[:joyas].nil? && a[:runas].nil? && a[:ranuras].nil? ) %>
						El arma no tiene engarces.
					<% else %>
						<% if a[:gemas] %>
							<% a[:gemas].each do |g| %>
								<% img_path = "'../../images/treasures/gemas/#{gema(g)[:name]}.png'" %>
								<img src=<%=img_path%> alt=<%=gema(g)[:name]%>, id='icon' />
							<% end %>
						<% end %>
						<% if a[:joyas] %>						
							<% a[:joyas].each do |j| %>
								<% img_path = "'../../images/treasures/joyas/#{joya(j)[:name]}.png'" %>
								<img src=<%=img_path%> alt=<%=joya(j)[:name]%>, id='icon' />
							<% end %>
						<% end%>
						<% if a[:runas] %>
							<% a[:runas].each do |r| %>
								<% img_path = "'../../images/treasures/runas/#{runa(r)[:name]}.png'" %>
								<img src=<%=img_path%> alt=<%=runa(r)[:name]%>, id='icon' />
							<% end %>
						<% end %>
						<% if a[:ranuras] %>
							<% a[:ranuras].times do %>
								<% img_path = "'../../images/treasures/socket.png'" %>
								<img src=<%=img_path%> alt='ranura-hueca', id='icon' />
								<% end %>						
						<% end %>						
					<% end %>
				</td>
			</tr>
		<% end %>
		<%= "El personaje no tiene ningun arma todavia." if @heroe[:armas].empty? %>
	</tbody>
</table>
<br>
<table id='table-2'>
	<thead>
		<tr>
			<th>Armadura</th>
			<th>Protecciones</th>
			<th>Miscelánea</th>
			<th>Hechizos Conocidos</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<% @heroe[:armaduras].each do |a| %>
					<% img_path = "'../images/armaduras/#{armadura(a[:id])[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=armadura(a[:id])[:name]%>, id='icon' />
				<% end %>
			</td>
			<td>
				<% if @heroe[:prots].empty? %>
					El personaje no tiene ninguna protección aun.
				<% else %>
					<% @heroe[:prots].each do |p|%>
						<% img_path = "'../images/protecciones/#{proteccion(p[:id])[:name]}.png'" %>
						<img src=<%=img_path%> alt=<%=proteccion(p[:id])[:name]%>, id='icon' />
					<% end %>
				<% end%>
			</td>
			<td>
				<% @heroe[:miscs].each do |m| %>
					<% img_path = "'../images/miscelaneas/#{miscelanea(m[:id])[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=miscelanea(m[:id])[:name]%>, id='icon' />
				<% end %>
			</td>
			<td>
				<% elements(@heroe[:hechizos]).each do |e| %>	
					<% img_path =  "'../images/elements/#{e}.png'" %>
					<img src=<%=img_path%> alt=<%=e%>, id='icon' />
				<% end %>
				<% unless @heroe[:hechizos].empty? %>
					<br><a href=../spells/<%=@heroe[:id]%>>Lista de hechizos conocidos</a><br>
				<% else %>El personaje no conoce ningun hechizo
				<% end %>					
			</td>
		</tr>
	</tbody>
</table>
<h3><center>Tesoros</center></h3>
<table id='table-2'>
	<thead>
		<tr>
			<th>Gemas</th>
			<th>Runas</th>
			<th>Joyas</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<% @heroe[:gemas].each do |g| %>
					<% img_path = "'../../images/treasures/gemas/#{gema(g)[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=gema(g)[:name]%>, id='icon' />
				<% end %>
				<%= "El personaje no tiene ninguna gema." if @heroe[:gemas].empty? %>
			</td>
			<td>
				<% @heroe[:runas].each do |r| %>
					<% img_path = "'../../images/treasures/runas/#{runa(r)[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=runa(r)[:name]%>, id='icon' />
				<% end %>
				<%= "El personaje no tiene ninguna runa." if @heroe[:runas].empty? %>
			</td>
			<td>
				<% @heroe[:joyas].each do |j| %>
					<% img_path = "'../../images/treasures/joyas/#{joya(j)[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=joya(j)[:name]%>, id='icon' />
				<% end %>
				<%= "El personaje no tiene ninguna joya." if @heroe[:joyas].empty? %>
			</td>
		</tr>
	</tbody>
</table>
<h3><center>Útiles</center></h3>
<table id='table-2'>
	<thead>
		<tr>
			<th>Pociones</th>
			<th>Pergaminos</th>
			<th>Piezas</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<% @heroe[:gemas].each do |g| %>
					<% img_path = "'../../images/treasures/gemas/#{gema(g)[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=gema(g)[:name]%>, id='icon' />
				<% end %>
				<%= "El personaje no tiene ninguna poción." if @heroe[:gemas].empty? %>
			</td>
			<td>
				<% @heroe[:runas].each do |r| %>
					<% img_path = "'../../images/treasures/runas/#{runa(r)[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=runa(r)[:name]%>, id='icon' />
				<% end %>
				<%= "El personaje no tiene ningun pergamino." if @heroe[:runas].empty? %>
			</td>
			<td>
				<% @heroe[:joyas].each do |j| %>
					<% img_path = "'../../images/treasures/joyas/#{joya(j)[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=joya(j)[:name]%>, id='icon' />
				<% end %>
				<%= "El personaje no tiene ninguna pieza." if @heroe[:joyas].empty? %>
			</td>
		</tr>
	</tbody>
</table>