<h1><center><%= @heroe[:name] %></center></h1>
<h3><center><%= @heroe[:jugador] %></center></h3>
<a href=/>Índice</a><br>

<link rel="stylesheet" href="../../app.css" type="text/css" />
<table id='table-2'>
	<thead>
		<tr>
			<th>Icono</th>
			<th>Nivel</th>
			<th>Personaje</th>
			<th>Raza</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<% case @heroe[:sex]
					when "male" %>
						<% case personaje(@heroe[:personaje])
						when "enano" then %>
							<img src="../images/enano.png" alt="rss feed" /, id='icon'>
						<% when "elfo" then %>
							<img src="../images/elfo.png" alt="rss feed" /, id='icon'>
						<% when "tiefling" then %>
							<img src="../images/tiefling.png" alt="rss feed" /, id='icon'>
						<% when "mago" then %>
							<img src="../images/mago.png" alt="rss feed" /, id='icon'>
						<% when "ladron" then %>
							<img src="../images/ladron.png" alt="rss feed" /, id='icon'>
						<% when "barbaro" then %>
							<img src="../images/barbaro.png" alt="rss feed" /, id='icon'>
						<% end%>
					<% when "female" %>
						<% case personaje(@heroe[:personaje])
						when "elfo" then %>
							<img src="../images/elfa.png" alt="rss feed" /, id='icon'>
						<% when "tiefling" then %>
							<img src="../images/tiefling-female.png" alt="rss feed" /, id='icon'>
						<% when "mago" then %>
							<img src="../images/maga.png" alt="rss feed" /, id='icon'>
						<% when "ladron" then %>
							<img src="../images/ladrona.png" alt="rss feed" /, id='icon'>
						<% when "barbaro" then %>
							<img src="../images/barbara.png" alt="rss feed" /, id='icon'>
						<% end%>
					<% end %>
			</td>
			<td><%= @heroe[:nivel] %></td>
			<td><%= @heroe[:personaje].capitalize %></td>
			<td><%= is_human?(@heroe[:personaje]) ? "Humano" : personaje(@heroe[:personaje]).capitalize %></td>
		</tr>
	</tbody>
</table>
<br>
<table id='table-2'>
	<thead>
		<tr>
			<th>Armas</th>
			<th>Armadura</th>
			<th>Protecciones</th>
			<th>Miscelánea</th>
			<th>Hechizos Conocidos</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<% @heroe[:armas].each do |id| %>
					<% img_path = "'../images/armas/#{arma(id)[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=arma(id)[:name]%>, id='icon' />
				<% end %>
				<%= "El personaje no tiene ningun arma todavia." if @heroe[:armas].empty? %>
			</td>
			<td>
				<% @heroe[:armaduras].each do |id| %>
					<% img_path = "'../images/armaduras/#{armadura(id)[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=armadura(id)[:name]%>, id='icon' />
				<% end %>
			</td>
			<td>
				<% if @heroe[:prots].empty? %>
					El personaje no tiene ninguna protección aun.
				<% else %>
					<% @heroe[:prots].each do |objeto|%>
						<% img_path = "'../images/protecciones/#{proteccion(objeto)[:name]}.png'" %>
						<img src=<%=img_path%> alt=<%=proteccion(objeto)[:name]%>, id='icon' />
					<% end %>
				<% end%>
			</td>
			<td>
				<% @heroe[:miscs].each do |id| %>
					<% img_path = "'../images/miscelaneas/#{miscelanea(id)[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=miscelanea(id)[:name]%>, id='icon' />
				<% end %>
			</td>
			<td>
				<% elements(@heroe[:hechizos]).each do |e| %>	
					<% img_path =  "'../images/elements/#{e}.png'" %>
					<img src=<%=img_path%> alt=<%=e%>, id='icon' />
				<% end %>
				<% unless @heroe[:hechizos].empty? %>
					<br><a href=../spells/<%=@heroe[:id]%>>Lista de hechizos conocidos</a><br>
				<% else %>El personaje no conoce ningun hechizo
				<% end %>					
			</td>
		</tr>
	</tbody>
</table>
<h3><center>Tesoros</center></h3>
<table id='table-2'>
	<thead>
		<tr>
			<th>Gemas</th>
			<th>Runas</th>
			<th>Joyas</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<% @heroe[:gemas].each do |g| %>
					<% img_path = "'../../images/treasures/gemas/#{gema(g)[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=gema(g)[:name]%>, id='icon' />
				<% end %>
				<%= "El personaje no tiene ninguna gema." if @heroe[:gemas].empty? %>
			</td>
			<td>
				<% @heroe[:runas].each do |r| %>
					<% img_path = "'../../images/treasures/runas/#{runa(r)[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=runa(r)[:name]%>, id='icon' />
				<% end %>
				<%= "El personaje no tiene ninguna runa." if @heroe[:runas].empty? %>
			</td>
			<td>
				<% @heroe[:joyas].each do |j| %>
					<% img_path = "'../../images/treasures/joyas/#{joya(j)[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=joya(j)[:name]%>, id='icon' />
				<% end %>
				<%= "El personaje no tiene ninguna joya." if @heroe[:joyas].empty? %>
			</td>
		</tr>
	</tbody>
</table>