<link rel="stylesheet" href="../../app.css" type="text/css" />
<a href=/>Índice</a><br><br>

<title>Hero Sheet: Ficha de <%= @heroe[:name] %></title>

<table id='tlabel'>
	<tbody>
		<tr>
			<td><img src="../images/clases/<%= @heroe[:personaje] %>.png" alt=<%=  @heroe[:personaje] %> /, id='box'></td>
			<td>
				<table id='table-2'>
					<thead>
						<tr>
							<% descripcion.each do |f| %>
								<th><%= f.capitalize %></th>
							<% end%>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img src=../images/personajes/<%= genderize(personaje(@heroe[:personaje]), @heroe[:sex] ) %>.png 
								alt="personaje" /, id='icon2'></td>
							<td><%= @heroe[:name   ] %><br>
								<%= @heroe[:jugador] %></td>
							<td><% raza = is_human?(@heroe[:personaje]) ? "humano" : personaje(@heroe[:personaje]) %>
								<%= genderize(raza,@heroe[:sex]).capitalize %></td>
							<td><%= @heroe[:personaje].capitalize %></td>
							<td><%= @heroe[:nivel  ] %></td>
							<td style="background-image:url(../images/ficha/star.png); 
								background-repeat: no-repeat; background-position:center;">
								<%= @heroe[:repu   ] || 0 %></td>
						</tr>
					</tbody>
				</table>				
			</td>
			<td><img src="../images/clases/<%= @heroe[:personaje] %>.png" alt=<%=  @heroe[:personaje] %> /, id='box'></td>
		</tr>
	</tbody>
</table>

<table id='tficha'>
	<theader>
	</theader>
	<tbody>
		<tr><td>
			<table id='tlabel' width='50%'>
				<tbody>
					<tr>
						<td><img src="../images/ficha/combat.png" alt=<%='combate' %> /, id='icon2'></td>
						<td><h3><center>Combate</center></h3></td>
						<td><img src="../images/ficha/combat.png" alt=<%='combate' %> /, id='icon2'></td>
					</tr>
				</tobdy>
			</table>
			<table id='tlabel'>
				<tr>
					<td>
						<table id='table-2'>
							<thead>
								<tr>
									<th>Cuerpo</th>
									<th>Mente</th>
									<th>Movimiento</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><%= @heroe[:cuerpo] %></td>
									<td><%= @heroe[:mente ] %></td>
									<td><%= @heroe[:mov   ] %></td>
								</tr>
							</tbody>
						</table>			
					</td>
					<td>
						<table id='table-2'>
							<thead>
								<tr>
									<th>Melee</th>
									<th>Rango</th>
									<th>Defensa</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><%= ataque( @heroe[:id]) %></td>
									<td><%= rango(  @heroe[:id]) %></td>
									<td><%= defensa(@heroe[:id]) %></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</table>
			<h3><center>Armamento</center></h3>
			<table id='table-2'>
				<thead>
					<tr>
						<th>ID</th>
						<th>Icono</th>
						<th>Nombre</th>
						<th>Poder</th>
						<th><a href=/encantamientos>Encantamientos</a></th>
						<th>Engarces</th>
					</tr>
				</thead>
				<tbody>
					<% @heroe[:armas].each do |a| %>
						<tr>
							<td><%= a[:id] %></td>
							<td><% img_path = enthralled(a) %>
								<img src='<%= img_path %>' alt=<%=arma(a[:id])[:name]%>, id='icon' />
							</td>
							<td><%= arma(a[:id])[:name].capitalize %></td>
							<td><%= arma(a[:id])[:powa] %></td>				
							<td><% if a[:enchants].nil? %>
								Arma mundana
								<% else %>
									<table id='table-2'>
										<tbody>
											<tr>
												<% a[:enchants].each do |e| %>
													<td><%= enchant(e)[:name].capitalize %></td>
												<% end %>
											</tr>
										</tbody>
									</table>
								<% end%>
							</td>
							<td>
								<% if mundano?(a) %>
									El arma no tiene engarces.
								<% else %>
									<% engarces.each do |engarce| %>
										<% if a[eval(':' + engarce)] %>
											<% a[eval(':' + engarce)].each do |e| %>
												<% e_name = send(engarce.gsub('s',''),e)[:name] %>
												<% img_path = "'../images/treasures/#{engarce}/#{e_name}.png'" %>
												<img src=<%=img_path%> alt=<%= e_name %>, id='icon' />
											<% end %>
										<% end %>
									<% end %>					
								<% end %>
							</td>
						</tr>
					<% end %>
					<%= "El personaje no tiene ningun arma todavia." if @heroe[:armas].empty? %>
				</tbody>
			</table>
			<br>
			<table id='table-2'>
				<thead>
					<tr>
						<th>Armadura</th>
						<th>Protecciones</th>
						<th>Miscelánea</th>
						<% if @heroe[:hechizos] %>
							<th><a href=../spells/<%=@heroe[:id]%>>Lista de hechizos conocidos</a></th>
						<% end %>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<% @heroe[:armaduras].each do |a| %>
								<% img_path = "'../images/armaduras/#{armadura(a[:id])[:name]}.png'" %>
								<img src=<%=img_path%> alt=<%=armadura(a[:id])[:name]%>, id='icon' />
							<% end %>
						</td>
						<td>
							<% if @heroe[:prots].empty? %>
								El personaje no tiene ninguna protección aun.
							<% else %>
								<% @heroe[:prots].each do |p|%>
									<% img_path = "'../images/protecciones/#{proteccion(p[:id])[:name]}.png'" %>
									<img src=<%=img_path%> alt=<%=proteccion(p[:id])[:name]%>, id='icon' />
								<% end %>
							<% end%>
						</td>
						<td>
							<% @heroe[:miscs].each do |m| %>
								<% img_path = "'../images/miscelaneas/#{miscelanea(m[:id])[:name]}.png'" %>
								<img src=<%=img_path%> alt=<%=miscelanea(m[:id])[:name]%>, id='icon' />
							<% end %>
						</td>
						<% if @heroe[:hechizos] %>
							<td><% elements(@heroe[:hechizos]).each do |e| %>	
									<% img_path =  "'../images/elements/#{e}.png'" %>
									<img src=<%=img_path%> alt=<%=e%>, id='icon' />
								<% end %>
							</td>
						<% end %>					
					</tr>
				</tbody>
			</table>
			
			<% if @heroe[:skills] %>
				<h3><center>Habilidades</center></h3>
				<table id='table-2'>
					<thead>
						<tr><% habs.each do |h| %>
								<th><%= h.capitalize %></th>
							<% end %>
						</tr>
					</thead>
					<tbody>
						<% clase = ((@heroe[:personaje] == "lord de las bestias") ? "lord" : @heroe[:personaje] ) %>
						<% @heroe[:skills].each do |id| %>
							<% habilidad = send(@heroe[:personaje],id) %>
							<tr><td><% img_path = "'../images/skills/#{@heroe[:personaje]}/#{habilidad[:name]}.png'" %>
									<img src=<%=img_path%> alt=<%= habilidad[:name] %>, id='icon' />
								</td>
								<td>	<%= habilidad[:type].capitalize %></td>
								<td>	<%= habilidad[:name].capitalize %></td>
								<td><i>	<%= habilidad[:description] %></i></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
			
			
			<% if @heroe[:pets] %>
				<h3><center>Familiar</center></h3>
				<table id='table-2'>
					<thead>
						<tr>
							<th>Icono</th>
							<th>Nombre</th>
							<th>Descripción</th>
						</tr>
					</thead>
					<body>
						<tr><% familiar = pet(@heroe[:pets]) %>
							<td>
								<% img_path = "'../../images/pets/#{familiar[:name]}.png'" %>
								<img src=<%=img_path%> alt=<%=familiar[:name]%>, id='icon' />
							</td>
							<td><%= familiar[:name].capitalize %></td>
							<td><%= familiar[:bono] %></td>
						</tr>
					</tbody>
				</table>
			<% end %>
			
			<% unless mundano?(@heroe) %>
				<h3><center>Tesoros</center></h3>
				<table id='table-2'>
					<thead>
						<tr><% engarces.each do |engarce| %>
								<th><%= engarce.capitalize %></th>
							<% end %>
						</tr>
					</thead>
					<tbody>
						<tr>				
							<% engarces.each do |engarce| %>
								<td>
									<% if @heroe[eval(":#{engarce}")] %>
										<% @heroe[eval(":#{engarce}")].each do |e| %>
											<% e_name = send(engarce.gsub('s',''),e)[:name] %>
											<% img_path = "'../images/treasures/#{engarce}/#{e_name}.png'" %>
											<img src=<%=img_path%> alt=<%= e_name %>, id='icon' />
										<% end %>
									<% else %>
										El héroe no tiene <%= engarce %>.
									<% end %>
								</td>
							<% end %>
						</tr>
					</tbody>
				</table>
			<% end %>
			
			<% unless desprovisto?(@heroe) %>
			<h3><center>Útiles</center></h3>
			<table id='table-2'>
				<thead>
					<tr><th>Pociones</th>
						<th>Pergaminos</th>
						<th>Piezas</th>
					</tr>
				</thead>
				<tbody>
					<tr>				
						<td>
							<% if @heroe[:pociones] %>
								<% @heroe[:pociones].each do |p| %>
									<% img_path = "'../images/utiles/pociones/#{pocion(p)[:name]}.png'" %>
									<img src=<%=img_path%> alt=<%= pocion(p)[:name] %>, id='icon' />
								<% end %>
							<% else %>
								El héroe no tiene pociones.
							<% end %>
						</td>
						<td>
							<table id='table-2'>
								<tbody>
									<tr>
										<% if @heroe[:pergaminos] %>
											<% @heroe[:pergaminos].each do |p| %>
												<td>
													<div class="information_popup_container">
														<div class="information">
															<% name = pergamino(p[:id])[:name] %>
															<% img_path = "'../images/utiles/pergaminos/#{name}.png'" %>
															<img src=<%=img_path%> alt=<%= name %>, id='icon' />
														</div>
														<div class="popup_information">
															<center><h3>	
																Pergamino <%= pergamino(p[:id])[:name] %><br><br>
																<img src=<%=img_path%> alt=<%= name %>, id='icon3' />
															</h3></center>
															<% if p[:spells] %>
																<% p[:spells].each do |magia| %>
																	<% hechizo = (spell(magia))[:name] %>									
																	<% img_path   = "'../images/spells/#{hechizo}.png'"     %>
																	<img style="vertical-align:middle" 
																		 src=<%=img_path%> alt=<%= hechizo %>, id='icon' />		
																	<%= hechizo.capitalize %><br>
																<% end %>	
															<% else %>
																El pergamino no contiene hechizos.
															<% end %>
														</div>
													</div>
												</td>
											<% end %>
										<% else %>
											El héroe no tiene pergaminos.
										<% end %>
									</tr>
								</tbody>
							</table>
						</td>
						<td>
							<% if @heroe[:piezas] %>
								<% @heroe[:piezas].each do |p| %>
									<% img_path = "'../images/utiles/piezas/#{pieza(p)[:name]}.png'" %>
									<img src=<%=img_path%> alt=<%= pocion(p)[:name] %>, id='icon' />
								<% end %>
							<% else %>
								El héroe no tiene piezas.
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
			<% end %>
		</td></tr>
	</tbody>
</table>