<%= erb :menu %><br><br><br<br>

<link rel="stylesheet" href="../../css/main.css" type="text/css" />
<link rel="stylesheet" href="../../app.css" type="text/css" />

<h1>Lista de Hechizos</h1><br><br>

<table id='table-2'>
<thead>
	<th>Icono</th>
	<th>Elemento</th>
	<th>Nombre</th>
	<th>Descripción</th>
</thead>
<tbody>
	<% spells.each do |s|%>
		<% if @spelllevel.to_i == s[:nivel] %>
			<tr style=<%= color(spell(s[:id])[:elemento])%>>				
				<td><% img_path = "'../../images/spells/#{spell(s[:id])[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=spell(s[:id])[:name]%>, id='icon' />
				</td>
				<td><%= spell(s[:id])[:elemento].capitalize %></td>
				<td><%= spell(s[:id])[:name].capitalize %></td>
				<td><%= spell(s[:id])[:descripcion] %></td>
			</tr>
		<% end %>
	<% end %>
</tbody>
</table>