<title>HeroSheet: Lista de héroes</title>
<%= erb :menu %><br>

<table id='table-2'>
	<thead>
		<tr>
			<th colspan=3>Héroe</th>
			<th>Nivel</th>
			<th><a href=/familiares>Familiar</a></th>
			<th><a href=/profesiones>Profesión</a></th>
			<th><a href=/items/armas>Armas</a></th>
			<th><a href=/items/armaduras>Armadura</a></th>		
			<th><a href=/items/protecciones>Protecciones</a></th>	
			<th>Reputación</th>
		</tr>
	</thead>
	<tbody>
		<% heros.sort_by { |h| h.nivel }.reverse.each do |hero| %><% if ((hero.status || "ausente") == @status) %>
			<tr>
				<td><%= erb :'display/portrait', :locals => { :h => hero } %></td>
				<td><a href=hero/<%= hero.id %>><%= hero.name %></a><br>
					<% if ciudad?(hero.jugador).empty? %>
						<i><%= hero.jugador %></i>
					<% else %>
						<a href='/city/<%= ciudad?(hero.jugador).first[:name] %>'><i><%= hero.jugador %></i></a>
					<% end %>
				</td>
				<td><%= hero.genderize.capitalize%><br>
					<i><a href="/habilidades/<%= hero.personaje.gsub("señor de las bestias","beastlord") %>">
						<%= hero.personaje.capitalize %>
					</a></i>
				</td>
				<td style="font-size:28px;"><%= hero.nivel %></td>
				<td><% if p = hero.pet %><%= erb :'display/display', :locals => { 
						:title       => p.nombre , 
						:path        => "'images/pets/#{p.bicho}.png'",
						:description => p.descripcion } %>
					<% end %>						
				</td>
				<td>
					<% if p = hero.profesion %>
						<%= erb :'ficha/profesion', :locals => { :prof => p } %>
					<% end %>
				</td>
				<td><table id='table-2'>
						<tbody>
							<tr><% hero.armas.each do |a| %>
								<td><%= erb :'display/arma', :locals => { :a => a} %></td>
							<% end %></tr>
						</tbody>
					</table>
				</td>
				<td>
					<table id='table-2'>
 					  <tbody>
					    <tr>
							<td><%= erb :'display/armadura', :locals => { :a => hero.armadura } %></td>
						</tr>
					  </tbody>
					</table>
				</td>
				<td><% if hero.proteccions %>
					<table id='table-2'>
 					  <tbody>
					    <tr><% hero.proteccions.each do |p| %>
								<td><%= erb :'display/item', :locals => {:item => p} %></td>
							<% end %>
						</tr>
					  </tbody>
					</table><% end %>
				</td>
				<td style="background-image:url(../images/ficha/star.png); 
					background-repeat: no-repeat; background-position:center;">
					<%= hero.reputacion %>
				</td>
			</tr>
		<% end %><% end %>
	</tbody>
</table>