<title>HeroSheet: Lista de héroes</title>
<body>
<%= erb :menu %><br><br><br<br>
<link rel="stylesheet" href="app.css" type="text/css" />

<table id='table-2'>
	<thead>
		<tr>
			<th>Icono</th>
			<th>Héroe</th>
			<th>Personaje</th>
			<th>Nivel</th>
			<th><a href=/familiares>Familiares</a></th>
			<th><a href=/armas>Armas</a></th>
			<th><a href=/armaduras>Armaduras</a></th>
			<th><a href=/protecciones>Protecciones</a></th>	
			<th><a href=/miscelaneas>Miscelaneas</a></th>		
			<th>Reputación</th>
		</tr>
	</thead>
	<tbody>
		<% heros.each do |hero| %><% if ((hero[:status] || "ausente") == @status) %>
			<tr>
				<td><% if hero[:muerto] %>
						<img src=../images/personajes/dead.png	alt="muerto" /, id='icon'>
					<% else %>
						<img src=../images/personajes/<%= genderize(personaje(hero[:personaje]), (hero[:sex] || "male") ) %>.png 
						alt="personaje" /, id='icon'>
					<% end%>
				</td>
				<td><a href=hero/<%= hero[:id] %>><%= hero[:name] %></a><br>
					<i><%= hero[:jugador] %></i>
				</td>
				<td><%= genderize(personaje(hero[:personaje]), (hero[:sex] || "male" )).capitalize %><br>
					<i><%= hero[:personaje].capitalize.gsub('Lord','Señor') %></i>
				</td>
				<td style="font-size:28px;"><%= hero[:nivel] %></td>
				<td><% if hero[:pet] %>
						<%= erb :'display/display', :locals => { 
							:title       => pet(hero[:pet])[:name], 
							:path        => "'images/pets/#{pet(hero[:pet])[:name]}.png'",
							:description => pet(hero[:pet])[:bono] } %>
					<% end %>						
				</td>
				<% ["armas", "armaduras", "proteccions", "miscelaneas"].each do |items| %>
					<td><table id='table-2'>
							<tbody>
								<tr><% if hero[items.to_sym] %>
										<% hero[items.to_sym].each do |a| %>
											<td><%= erb :'display/item', :locals => { :a => a, :item => items[0..-2]} %></td>
										<% end %>
									<% else %>
									<td></td>
									<% end %>
								</tr>
							</tbody>
						</table>
					</td>
				<% end %>
				<td style="background-image:url(../images/ficha/star.png); 
					background-repeat: no-repeat; background-position:center;">
					<%= hero[:repu] || 0 %></td>
			</tr>
		<% end %><% end %>
	</tbody>
</table>
</body>

