<title>Hero Sheet</title>
<center><img src="images/logo.png" alt="Proyecto Heroquest" /></center>
<link rel="stylesheet" href="app.css" type="text/css" />
<table id='table-2'>
	<thead>
		<tr>
			<th>Icono</th>
			<th>Personaje</th>
			<th>Nivel</th>
			<th>Reputación</th>
			<th>Hechizos Conocidos</th>
			<th><a href=/armas>Armas</a></th>
			<th><a href=/armaduras>Armaduras</a></th>
			<th><a href=/protecciones>Protecciones</a></th>	
			<th><a href=/miscelaneas>Miscelaneas</a></th>		
			<th><a href=/familiares>Familiares</a></th>
		</tr>
	</thead>
	<tbody>
		<% heros.each do |hero| %>
			<tr>
				<td><% case hero[:sex]
							when "male" %>
							<% case personaje(hero[:personaje])
								when "enano" then %>
									<img src="images/enano.png" alt="rss feed" /, id='icon'>
								<% when "elfo" then %>
									<img src="images/elfo.png" alt="rss feed" /, id='icon'>
								<% when "tiefling" then %>
									<img src="images/tiefling.png" alt="rss feed" /, id='icon'>
								<% when "mago" then %>
									<img src="images/mago.png" alt="rss feed" /, id='icon'>
								<% when "ladron" then %>
									<img src="images/ladron.png" alt="rss feed" /, id='icon'>
								<% when "barbaro" then %>
									<img src="images/barbaro.png" alt="rss feed" /, id='icon'>
							<% end%>
							<% when "female" %>
								<% case personaje(hero[:personaje])
									when "elfo" then %>
										<img src="images/elfa.png" alt="rss feed" /, id='icon'>
									<% when "tiefling" then %>
										<img src="images/tiefling-female.png" alt="rss feed" /, id='icon'>
									<% when "mago" then %>
										<img src="images/maga.png" alt="rss feed" /, id='icon'>
									<% when "ladron" then %>
										<img src="images/ladrona.png" alt="rss feed" /, id='icon'>
									<% when "barbaro" then %>
										<img src="images/barbara.png" alt="rss feed" /, id='icon'>
									<% end%>
						<% end %>
				</td>
				<td><a href=hero/<%= hero[:id] %>><%= hero[:name] %></a><br>
					<i><%= hero[:personaje].capitalize.gsub('Lord','Señor') %></i></td>
				<td><%= hero[:nivel] %></td>
				<td><%= hero[:repu] %></td>
				<td><% elements(hero[:hechizos]).each do |e| %>	
						<% img_path =  "'images/elements/#{e}.png'" %>
						<img src=<%=img_path%> alt=<%=e%>, id='icon' />
					<% end %>						
				</td>
				<td>
					<% hero[:armas].each do |id| %>
						<% img_path = "'images/armas/#{arma(id)[:name]}.png'" %>
						<img src=<%=img_path%> alt=<%=arma(id)[:name]%>, id='icon' />
					<% end %>
				</td>
				<td>
					<% hero[:armaduras].each do |id| %>
						<% img_path = "'images/armaduras/#{armadura(id)[:name]}.png'" %>
						<img src=<%=img_path%> alt=<%=armadura(id)[:name]%>, id='icon' />
					<% end %>
				</td>
				<td>
					<% hero[:prots].each do |id| %>
						<% img_path = "'images/protecciones/#{proteccion(id)[:name]}.png'" %>
						<img src=<%=img_path%> alt=<%=proteccion(id)[:name]%>, id='icon' />
					<% end %>
				</td>
				<td>
					<% hero[:miscs].each do |id| %>
						<% img_path = "'images/miscelaneas/#{miscelanea(id)[:name]}.png'" %>
						<img src=<%=img_path%> alt=<%=miscelanea(id)[:name]%>, id='icon' />
					<% end %>
				</td>
				<td>
					<% hero[:pets].each do |id| %>
						<% img_path = "'images/pets/#{pet(id)[:name]}.png'" %>
						<img src=<%=img_path%> alt=<%=pet(id)[:name]%>, id='icon' />
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>


