<title>HeroSheet: Lista de héroes</title>
<%= erb :menu %><br>

<table id='table-2'>
	<thead>
		<tr>
			<th>Icono</th>
			<th>Héroe</th>
			<th>Personaje</th>
			<th>Nivel</th>
			<th><a href=/familiares>Familiares</a></th>
			<th><a href=/items/armas>Armas</a></th>
			<th><a href=/items/armaduras>Armadura</a></th>		
			<th><a href=/items/protecciones>Protecciones</a></th>	
			<th><a href=/items/miscelaneas>Miscelaneas</a></th>
			<th>Reputación</th>
		</tr>
	</thead>
	<tbody>
		<% heros.each do |hero| %><% if ((hero.status || "ausente") == @status) %>
			<tr>
				<td><% if hero.muerto %>
						<img src=../images/personajes/dead.png	alt="muerto" /, id='icon'>
					<% else %>
						<%= erb :'display/portrait', :locals => { :h => hero } %>
					<% end%>
				</td>
				<td><a href=hero/<%= hero.id %>><%= hero.name %></a><br>
					<i><%= hero.jugador %></i>
				</td>
				<td><%= hero.genderize.capitalize %><br>
					<i><%= hero.personaje.capitalize %></i>
				</td>
				<td style="font-size:28px;"><%= hero.nivel %></td>
				<td><% if p = hero.pet %><%= erb :'display/display', :locals => { 
						:title       => p.nombre, 
						:path        => "'images/pets/#{p.bicho}.png'",
						:description => p.bono } %>
					<% end %>						
				</td>
				<td><table id='table-2'>
						<tbody>
							<tr><% hero.armas.each do |a| %>
								<td><%= erb :'display/arma', :locals => { :a => a} %></td>
							<% end %></tr>
						</tbody>
					</table>
				</td>
				<td>
					<table id='table-2'>
 					  <tbody>
					    <tr><td>
							<%= erb :'display/display', :locals => { 
								:title       => hero.armadura.name, 
								:path        => hero.armadura.img_path,
								:description => hero.armadura.defensa } %>
						</td></tr>
					  </tbody>
					</table>
				</td>
				<td><% if hero.proteccions %>
					<table id='table-2'>
 					  <tbody>
					    <tr><% hero.proteccions.each do |p| %>
								<td><%= erb :'display/display', :locals => { 
										:title       => p.name, 
										:path        => p.img_path,
										:description => p.defensa } %></td>
							<% end %>
						</tr>
					  </tbody>
					</table><% end %>
				</td>
				<td><% if hero.miscelaneas %>
					<table id='table-2'>
 					  <tbody>
					    <tr><% hero.miscelaneas.each do |m| %>
								<td><%= erb :'display/display', :locals => { 
									:title       => m.name, 
									:path        => m.img_path,
									:description => "no hay ninguna aún" } %></td>
						<% end %></tr>
					  </tbody>
					</table>
				<% end %></td>
				<td style="background-image:url(../images/ficha/star.png); 
					background-repeat: no-repeat; background-position:center;">
					<%= hero.reputacion %>
				</td>
			</tr>
		<% end %><% end %>
	</tbody>
</table>