<title>Hero Sheet: Maestro de Armas</title>
<body>
	<%= erb :menu %>
	<link rel="stylesheet" href="../../css/main.css" type="text/css" />
	<link rel="stylesheet" href="../../app.css"      type="text/css" />	
	<br>

<h1>Lista de habilidades del maestro de armas</h1><br><br>


<table id='table-2'>
<thead>
	<th>ID</th>
	<th>Icono</th>
	<th>Nombre</th>
	<th>Descripcion</th>
	<th>Coste</th>
</thead>
<tbody>
	<% maestrodearmas.each do |m| %>
			<tr>
				<td><%= m[:id] %></td>
				<td>
					<% img_path = "'../images/maestrodearmas/#{m[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=m[:name]%>, id='icon' />
				</td>
				<td><%= m[:name].capitalize %></td>
				<td><%= m[:descripcion] %></td>
				<td><%= m[:coste].capitalize %></td>
			</tr>
		<% end %>
</tbody>
</table>
	


</body>