<link rel="stylesheet" href="../../app.css" type="text/css" />

<h1><center>Lista de Miscelaneas</center></h1>
<a href=/>Índice</a><br><br>

<table id='table-2'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Icono</th>
			<th>Nombre</th>
			<th>Permitidos</th>
		</tr>	
	</thead>
	<tbody>
		<% miscelaneas.each do |m| %>
			<tr>
				<td><%= m[:id] %></td>
				<td>
					<% img_path = "'../images/miscelaneas/#{m[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=m[:name]%>, id='icon' />
				</td>
				<td><%= m[:name].capitalize %></td>
				<td><%= m[:max]%></td>
			</tr>
		<% end %>
	</tbody>
</table>