<%= erb :menu %><br><br><br<br>

<link rel="stylesheet" href="../../css/main.css" type="text/css" />
<link rel="stylesheet" href="../../app.css" type="text/css" />

<h1>Lista de Profesiones</h1><br><br>

<table id='table-2'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Icono</th>
			<th>Nombre</th>
		</tr>	
	</thead>
	<tbody>
		<% profesions.each do |p| %>
			<tr>
				<td><%= p[:id] %></td>
				<td>
					<% img_path = "'../images/profesiones/#{p[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%= p[:name] %>, id='icon2' />
				</td>
				<td><%= p[:name].capitalize %></td>
			</tr>
		<% end %>
	</tbody>
</table>