<link rel="stylesheet" href="../../app.css" type="text/css" />

<h1><center>Lista de Tiers</center></h1>
<a href=/>Índice</a><br><br>

<table id='table-2'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Combo</th>
			<th>Nombre</th>
			<th>Bonificador</th>
		</tr>	
	</thead>
	<tbody>
		<% tiers.each do |t| %>
			<tr>
				<td><%= t[:id] %></td>
				<td>
					<% t[:mix].each do |engarce| %>
						<% familia = engarce[:tipo] + 's' %>
						<% nombre  = send(engarce[:tipo], engarce[:id])[:name] %>
						<% img_path = "'../images/treasures/#{familia}/#{nombre}.png'" %>
						<img src=<%=img_path%> alt=<%= nombre %>, id='icon' />
					<% end%>
				</td>
				<td><%= t[:name].capitalize %></td>
				<td><%= t[:bono].capitalize %></td>
			</tr>
		<% end %>
	</tbody>
</table>