<%= erb :menu %><br>
<h1>Magias Élficas</h1>

<table id='table-2'>
	<thead>
		<th>Icono</th>
		<th>Nombre</th>
		<th>Descripción</th>
	</thead>
	<tbody>
		<% elficas.each do |e| %>
			<tr style=<%= color('elfico')%>>				
				<td><% img_path = "'../../images/spells/#{ e.name }.png'" %>
					<img src=<%=img_path%> alt=<%= e.name %>, id='icon' />
				</td>
				<td><%= e.name.capitalize %></td>
				<td><%= e.efecto %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>