<title>Herosheet: Plegarias Sagradas</title>
<%= erb :menu %>
<br>
<h1>Plegarias Sagradas</h1>

<table id='table-2'>
	<thead>
		<% plegarias.first.keys.each do |key|%>
			<th><%= key.capitalize %></th>
		<% end %>
		<th>Icono</th>		
		<th>Nivel</th>
	</thead>
	<tbody>
		<% plegarias.each do |p|%>
			<tr style='yellow'>
				<td><%= p[:id] %></td>		
				<td><%= p[:name    ].capitalize %></td>
				<td><%= p[:tipo    ].capitalize %></td>
				<td><%= p[:duracion].to_s.capitalize %></td>
				<td><%= p[:potencia].to_s.capitalize %></td>
				<td><%= p[:alcance ].to_s.capitalize %></td>
				<td><%= p[:efecto  ] %></td>
				<td><%= p[:summun  ].to_s.capitalize %></td>	
				<td><%= p[:chakra  ].to_s.capitalize %></td>
				<td>
					<%= erb :'display/display', :locals => { 
							:title       => p[:name], 
							:path        => "'../../images/magia/plegarias1/#{ p[:name] }.png'",
							:description => 'popop' } %>
				</td>	
				<td><%= nivel_plegaria(p[:id]) %></td>	
			</tr>
		<% end %>
	</tbody>
</table>
<br>
