<%= erb :menu %><br>
<h1>Magia de Sangre</h1>

<table id='table-2'>
	<thead>
		<th>Icono</th>
		<th>Nombre</th>
		<th>Descripción</th>
		<th>Diablura</th>
	</thead>
	<tbody>
		<% sangres.each do |s|%>
			<tr style=<%= color('sangre')%>>				
				<td><% img_path = "'../../images/spells/#{s[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=s[:name]%>, id='icon' />
				</td>
				<td><%= s[:name].capitalize %></td>
				<td><%= s[:descripcion] %></td>
				<td><%= s[:diablura] %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>