<title>Herosheet: Magia de Sangre</title>
<%= erb :menu %><br>
<h1>Magia de Sangre</h1>

<table id='table-2'>
	<thead>
		<th>Icono</th>
		<th>Nombre</th>
		<th>Descripción</th>
		<th>Diablura</th>
		<th>Potencia</th>
	</thead>
	<tbody>
		<% sangres.each do |s|%>
			<tr style=<%= s.color %>>				
				<td><img src=<%= s.img_path%> alt=<%= s.name %>, id='icon' /></td>
				<td><%= s.name.capitalize %></td>
				<td><%= s.efecto %></td>
				<td><%= s.diablura %></td>
				<td><%= s.potencia %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>