<%= erb :menu %><br>
<h1>Magia de Sombras</h1>

<table id='table-2'>
	<thead>
		<th>Icono</th>
		<th>Nombre</th>
		<th>Descripción</th>
		<th>Diablura</th>
	</thead>
	<tbody>
		<% sombras.each do |s|%>
			<tr style=<%= color('sombra') %>>				
				<td><% img_path = "'../../images/spells/#{ s.name }.png'" %>
					<img src=<%=img_path%> alt=<%= s.name %>, id='icon' />
				</td>
				<td><%= s.name.capitalize %></td>
				<td><%= s.efecto %></td>
				<td><%= s.diablura %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>