<%= erb :menu %><br>
<h1>Hechizos de <%= @heroe.name %></h1>

<% if @heroe.hechizos %>
	<table id='table-2'>
		<thead>
			<th>Icono</th>
			<th>Elemento</th>
			<th>Nivel</th>
			<th>Nombre</th>
			<th>Descripción</th>
		</thead>
		<tbody>
			<% @heroe.hechizos.each do |magia|%>	
				<% m = spell(magia) %>
				<tr style=<%= m.color %>>				
					<td><% img_path = "'../../images/spells/#{m.name}.png'" %>
						<img src=<%=img_path%> alt=<%= m.name %>, id='icon' />
					</td>
					<td><%= m.elemento.capitalize %></td>
					<td><%= m.nivel %></td>
					<td><%= m.name.capitalize %></td>
					<td><%= m.efecto %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	El personaje no conoce ningun hechizo.
<% end %>
<br>