<div class="information_popup_container">
	<div class="information">
		<img src=<%= objeto.img_path %> alt=<%= objeto.name %>, id='icon' />
	</div>
	<div class="popup_information">
		<h3><center><%= objeto.name.capitalize %><br>
			<img src=<%= objeto.img_path %> alt=<%= objeto.name %>, id='icon3' />
		</center></h3>
		<%= objeto.fits %>
	</div>
</div>