<h3>Habilidades</h3>
<table id='table-2'>
	<thead>
		<tr><% habs.each do |h| %>
				<th><%= h.capitalize %></th>
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% heroe.skills.each do |id| %>
			<% habilidad = send(heroe.personaje.gsub('señor de las bestias','beastlord'),id) %>
			<tr><td><% img_path = "'../images/skills/#{heroe.personaje.gsub('señor de las bestias','beastlord')}/#{habilidad[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%= habilidad[:name] %>, id='icon' />
				</td>
				<td><%=    habilidad[:type].capitalize  %></td>
				<td><%=    habilidad[:name].capitalize  %></td>
				<td><i><%= habilidad[:description]  %></i></td>
			</tr>
		<% end %>
	</tbody>
</table>