<table id='tlabel'>
	<tbody>
		<tr>
			<td><img src="../images/clases/<%= heroe.personaje %>.png" alt=<%= heroe.personaje %> /, id='box'></td>
			<td>
				<table id='tlabel'>
					<tr><td><%= erb :'ficha/jugador' %></td></tr>
					<tr><td><%= erb :'ficha/lore' %></td></tr>
				</table>
			</td>
			<td><img src="../images/clases/<%= heroe.personaje %>.png" alt=<%= heroe.personaje %> /, id='box'></td>
		</tr>
	</tbody>
</table>