<table id='tlabel'>
	<tbody>
		<tr>
			<td><img src="../images/clases/<%= heroe.personaje %>.png" alt=<%= heroe.personaje %> /, id='box'></td>
			<td>
				<table id='table-2'>
					<thead>
						<tr>
							<% descripcion.each do |f| %>
								<th><%= f.capitalize %></th>
							<% end%>
							<% if heroe.pet %>
								<th>Familiar</th>
							<% end %>
							<% if heroe.profesion %>
								<th>Profesión</th>
							<% end %>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= erb :'display/portrait', :locals => { :h => heroe } %></td>
							<td><%= heroe.name.capitalize %><br>
								<%= heroe.jugador.capitalize %></td>
							<td><%= heroe.clase %></td>
							<td><%= heroe.personaje %></td>
							<td><%= heroe.nivel %></td>
							<td style="background-image:url(../images/ficha/star.png); 
								background-repeat: no-repeat; background-position:center;">
								<%= heroe.repu || 0 %></td>
							<% if p = heroe.pet %>
								<td><%= erb :'display/display', :locals => { 
										:title       => p.nombre, 
										:path        => p.img_path,
										:description => p.bono } %>
								</td>
							<% end %>
							<% if heroe.profesion %>
								<td><%= erb :'ficha/profesion', :locals => { :prof => heroe.profesion } %></td>
							<% end %>
						</tr>
					</tbody>
				</table>				
			</td>
			<td><img src="../images/clases/<%= @heroe.personaje %>.png" alt=<%=  @heroe.personaje %> /, id='box'></td>
		</tr>
	</tbody>
</table>