<table id='tlabel'>
	<tr>
		<td width='20%'>
			<table id='table-2'>
				<thead>
					<tr>
						<th width='80%'>Mano principal</th>
						<td><%= erb :'display/item', :locals => { :a => @heroe[:armas].first, :item => "arma"} %></td>
					</tr>
					<tr>
						<th width='80%'>Mano secundaria</th>
						<td><% if @heroe[:armas].nil? %>
								<% img_path = "'../../images/treasures/socket.png'" %>
								<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
							<% elsif @heroe[:armas][1] %>
								<%= erb :'display/item', :locals => { :a => @heroe[:armas][1], :item => "arma"} %>	
							<% else %>
								<% img_path = "'../../images/treasures/socket.png'" %>
								<img src=<%=img_path%> alt='ranura-hueca', id='icon' />
							<% end %>
						</td>
					</tr>
				</thead>
			</table><br>
			<table id='table-2'>
				<thead>
					<tr>
						<th width='80%'>Cabeza</th>
						<% cascos = (@heroe[:proteccions] || []).find_all{ |casco| cabeza_lista.include?(casco[:id])} %>
						<% if !cascos.empty? %>
							<td><%= erb :'display/item', :locals => { :a => cascos.first , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Hombros</th>
						<% hombreras = (@heroe[:proteccions] || []).find_all{ |hombrera| hombros_lista.include?(hombrera[:id])} %>
						<% if !hombreras.empty? %>
							<td><%= erb :'display/item', :locals => { :a => hombreras.first , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Armadura</th>
						<td><%= erb :'display/item', :locals => { :a => @heroe[:armaduras].first , :item => "armadura"} %></td>
					</tr>
					<tr>
						<th width='80%'>Muñecas</th>
						<% muñequeras = (@heroe[:proteccions] || []).find_all{ |muñequera| muñecas_lista.include?(muñequera[:id])} %>
						<% if !muñequeras.empty? %>
							<td><%= erb :'display/item', :locals => { :a => muñequeras.first , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Cintura</th>
						<% cinturones = (@heroe[:proteccions] || []).find_all{ |cinturon| cintura_lista.include?(cinturon[:id])} %>
						<% if !cinturones.empty? %>
							<td><%= erb :'display/item', :locals => { :a => cinturones.first , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Pies</th>
						<% botas = (@heroe[:proteccions] || []).find_all{ |bota| pies_lista.include?(bota[:id])} %>
						<% if !botas.empty? %>
							<td><%= erb :'display/item', :locals => { :a => botas.first , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
				</thead>
			</table>
		</td>
		<td width='20%'>
			<table id='table-2'>
				<thead>
					<tr>
						<th width='80%'>Anillo Izquierdo</th>
						<% anillos = (@heroe[:miscelaneas] || []).find_all{ |anillo| anillo_lista.include?(anillo[:id])} %>
						<% if !anillos.empty? %>
							<td><%= erb :'display/item', :locals => { :a => anillos.first , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Anillo Derecho</th>
						<% anillos = (@heroe[:miscelaneas] || []).find_all{ |anillo| anillo_lista.include?(anillo[:id])} %>
						<% if anillos[1] %>
							<td><%= erb :'display/item', :locals => { :a => anillos[1] , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
				</thead>
			</table><br>
			<table id='table-2'>
				<thead>
					<tr>
						<th width='80%'>Cuello</th>
						<% collares = (@heroe[:miscelaneas] || []).find_all{ |collar| cuello_lista.include?(collar[:id])} %>
						<% if !collares.empty? %>
							<td><%= erb :'display/item', :locals => { :a => collares.first , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Espalda</th>
						<% capas = (@heroe[:proteccions] || []).find_all{ |capa| espalda_lista.include?(capa[:id])} %>
						<% if !capas.empty? %>
							<td><%= erb :'display/item', :locals => { :a => capas.first , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Pechera</th>
						<% if @heroe[:proteccions].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:proteccions].detect {|p| p[:id] == 9 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "proteccion"} %></td>
						<% elsif a = @heroe[:proteccions].detect {|p| p[:id] == 14 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Guantes</th>
						<% if @heroe[:proteccions].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:proteccions].detect {|p| p[:id] == 10 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Hebilla</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].detect {|p| p[:id] == 0 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Tobilleras</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].detect {|p| p[:id] == 0 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
				</thead>
			</table>
		</td>
		<td width='20%'>
			<table id='table-2'>
				<thead>
					<tr>
						<th width='80%'>Amuleto Izquierdo</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].find_all { |a| a[:id] == 6 }[0] %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Amuleto Derecho</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].find_all { |a| a[:id] == 6 }[1] %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
				</thead>
			</table><br>
			<table id='table-2'>
				<thead>
					<tr>
						<th width='80%'>Argolla</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].detect {|p| p[:id] == 4 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Pendientes</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].detect {|p| p[:id] == 3 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Tatuajes</th>
						<% if @heroe[:proteccions].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:proteccions].detect {|p| p[:id] == 0 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Cadena</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].detect {|p| p[:id] == 5 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Broche</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].detect {|p| p[:id] == 7 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Entrepierna</th>
						<% if @heroe[:proteccions].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:proteccions].detect {|p| p[:id] == 0 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
				</thead>
			</table>
		</td>
		<td width='40%'>
			<%= erb :'ficha/stats' %>
			<%= erb :'ficha/hechizos' if @heroe[:hechizos] %>
			<%= erb :'ficha/resistencias' %>
		</td>
	</tr>
</table>
