<table id='tlabel'>
	<tr>
		<td width='20%'>
			<table id='table-2'>
				<thead>
					<tr>
						<th width='80%'>Mano principal</th>
						<td><%= erb :'display/item', :locals => { :a => @heroe[:armas].first, :item => "arma"} %></td>
					</tr>
					<tr>
						<th width='80%'>Mano secundaria</th>
						<td><% if @heroe[:armas].nil? %>
								<% img_path = "'../../images/treasures/socket.png'" %>
								<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
							<% elsif @heroe[:armas][1] %>
								<%= erb :'display/item', :locals => { :a => @heroe[:armas][1], :item => "arma"} %>	
							<% else %>
								<% img_path = "'../../images/treasures/socket.png'" %>
								<img src=<%=img_path%> alt='ranura-hueca', id='icon' />
							<% end %>
						</td>
					</tr>
				</thead>
			</table><br>
			<table id='table-2'>
				<thead>
					<tr><% helm_list = [2,6,12,13] %>
						<th width='80%'>Cabeza</th>
						<% cascos = @heroe[:proteccions].find_all{ |casco| helm_list.include?(casco[:id])} %>
						<% if !cascos.empty? %>
							<td><%= erb :'display/item', :locals => { :a => cascos.first , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr><% shoulder_list = [5] %>
						<th width='80%'>Hombros</th>
						<% hombreras = @heroe[:proteccions].find_all{ |hombrera| shoulder_list.include?(hombrera[:id])} %>
						<% if !hombreras.empty? %>
							<td><%= erb :'display/item', :locals => { :a => hombreras.first , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Armadura</th>
						<td><%= erb :'display/item', :locals => { :a => @heroe[:armaduras].first , :item => "armadura"} %></td>
					</tr>
					<tr><% muñequeras_list = [8] %>
						<th width='80%'>Muñecas</th>
						<% muñequeras = @heroe[:proteccions].find_all{ |muñequera| muñequeras_list.include?(muñequera[:id])} %>
						<% if !muñequeras.empty? %>
							<td><%= erb :'display/item', :locals => { :a => muñequeras.first , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr><% belt_list = [4,11] %>
						<th width='80%'>Cintura</th>
						<% cinturones = @heroe[:proteccions].find_all{ |cinturon| belt_list.include?(cinturon[:id])} %>
						<% if !cinturones.empty? %>
							<td><%= erb :'display/item', :locals => { :a => cinturones.first , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr><% boots_list = [3] %>
						<th width='80%'>Pies</th>
						<% botas = @heroe[:proteccions].find_all{ |bota| boots_list.include?(bota[:id])} %>
						<% if !botas.empty? %>
							<td><%= erb :'display/item', :locals => { :a => botas.first , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
				</thead>
			</table>
		</td>
		<td width='20%'>
			<table id='table-2'>
				<thead>
					<tr><% ring_list = [1,11] %>
						<th width='80%'>Anillo Izquierdo</th>
						<% anillos = @heroe[:miscelaneas].find_all{ |anillo| ring_list.include?(anillo[:id])} %>
						<% if !anillos.empty? %>
							<td><%= erb :'display/item', :locals => { :a => anillos.first , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Anillo Derecho</th>
						<% anillos = @heroe[:miscelaneas].find_all{ |anillo| ring_list.include?(anillo[:id])} %>
						<% if anillos[1] %>
							<td><%= erb :'display/item', :locals => { :a => anillos[1] , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
				</thead>
			</table><br>
			<table id='table-2'>
				<thead>
					<tr><% collar_list = [2,9] %>
						<th width='80%'>Cuello</th>
						<% collares = @heroe[:miscelaneas].find_all{ |collar| collar_list.include?(collar[:id])} %>
						<% if !collares.empty? %>
							<td><%= erb :'display/item', :locals => { :a => collares.first , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr><% capas_list = [1] %>
						<th width='80%'>Espalda</th>
						<% capas = @heroe[:proteccions].find_all{ |capa| capas_list.include?(capa[:id])} %>
						<% if !capas.empty? %>
							<td><%= erb :'display/item', :locals => { :a => capas.first , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Pechera</th>
						<% if @heroe[:proteccions].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:proteccions].detect {|p| p[:id] == 9 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "proteccion"} %></td>
						<% elsif a = @heroe[:proteccions].detect {|p| p[:id] == 14 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Guantes</th>
						<% if @heroe[:proteccions].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:proteccions].detect {|p| p[:id] == 10 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Hebilla</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].detect {|p| p[:id] == 0 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Tobilleras</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].detect {|p| p[:id] == 0 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
				</thead>
			</table>
		</td>
		<td width='20%'>
			<table id='table-2'>
				<thead>
					<tr>
						<th width='80%'>Amuleto Izquierdo</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].find_all { |a| a[:id] == 6 }[0] %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Amuleto Derecho</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].find_all { |a| a[:id] == 6 }[1] %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
				</thead>
			</table><br>
			<table id='table-2'>
				<thead>
					<tr>
						<th width='80%'>Argolla</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].detect {|p| p[:id] == 4 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Pendientes</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].detect {|p| p[:id] == 3 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Tatuajes</th>
						<% if @heroe[:proteccions].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:proteccions].detect {|p| p[:id] == 0 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Cadena</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].detect {|p| p[:id] == 5 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Broche</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].detect {|p| p[:id] == 7 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Entrepierna</th>
						<% if @heroe[:proteccions].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:proteccions].detect {|p| p[:id] == 0 } %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "proteccion"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
				</thead>
			</table>
		</td>
		<td width='40%'>
			<table id='table-2'>
				<thead>
					<tr>
						<th width='33%'>Cuerpo</th>
						<th width='33%'>Mente</th>
						<th width='33%'>Movimiento</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= @heroe[:cuerpo] %></td>
						<td><%= @heroe[:mente ] %></td>
						<td><%= @heroe[:mov   ] %></td>
					</tr>
				</tbody>
			</table><br>	
			<table id='table-2'>
				<thead>
					<tr>
						<th width='33%'>Melee</th>
						<th width='33%'>Rango</th>
						<th width='33%'>Defensa</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= ataque( @heroe[:id]) %></td>
						<td><%= rango(  @heroe[:id]) %></td>
						<td><%= defensa(@heroe[:id]) %></td>
					</tr>
				</tbody>
			</table><br>
			<table id='table-2'>
				<thead>
					<tr>
						<th width='33%'>Pociones</th>
						<th width='33%'>Pergaminos</th>
						<th width='33%'>Oro</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>3</td>
						<td>3</td>
						<td><%= @heroe[:oro] || 0 %></td>
					</tr>
				</tbody>
			</table>
			<% if @heroe[:hechizos] %>
				<br>
				<table id='table-2'>
					<thead>
						<tr><th><a href=../spells/<%=@heroe[:id]%>>Lista de hechizos conocidos</a></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><table id='table-2'>
									<tbody>
										<tr>
											<% elements(@heroe[:hechizos]).each do |e| %>	
												<td>
													<%= erb :'display/display', :locals => { 
														:title       => e, 
														:path        => "'../images/elements/#{e}.png'",
														:description => "" } %>
												</td>
											<% end %>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			<% end %>
			<br>
			<table id='table-2'>
				<thead>
					<tr>
						<% resistencias.each do |r| %>
							<th>
								<%= erb :'display/display', :locals => { 
									:title       => r, 
									:path        => "'../images/elements/#{r}.png'",
									:description => "Resistencia: " + resistencia(@heroe[:id])[r.to_sym].to_s } %>
							</th>
						<% end%>
					</tr>
				</thead>
				<tbody>
					<tr>
						<% resistencias.each do |r| %>	
							<td>
								<%= resistencia(@heroe[:id])[r.to_sym] %>
							</td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
</table>
