<table id='tlabel'>
	<tr>
		<td width='20%'>
			<%= erb :'ficha/inventario/armas' %>
			<br>
			<table id='table-2'>
				<thead>
					<tr><th width='80%'>Armadura</th>
						<td><%= erb :'display/display', :locals => { 
							:title       => @heroe.armadura.name , 
							:path        => @heroe.armadura.img_path, 
							:description => @heroe.armadura.defensa } %>
						</td>
					</tr>
					<% fields[1].each do |field| %>
						<%= erb :'ficha/inventario/field', :locals => {:fits => field } %>
					<% end %>
				</thead>
			</table>
		</td>
		<td width='20%'>
			<%= erb :'ficha/inventario/anillos' %>
			<br>
			<table id='table-2'>
				<thead>
					<% fields[2].each do |field| %>
						<%= erb :'ficha/inventario/field', :locals => {:fits => field } %>
					<% end %>
					</tr>
				</thead>
			</table>
		</td>
		<td width='20%'>
			<%= erb :'ficha/inventario/amuletos' %>
			<br>
			<table id='table-2'>
				<thead>
					<% fields[3].each do |field| %>
						<%= erb :'ficha/inventario/field', :locals => {:fits => field } %>
					<% end %>
				</thead>
			</table>
		</td>
		<td width='40%'>
			<%= erb :'ficha/stats' %>
			<%= erb :'ficha/hechizos' if @heroe.hechizos %>
			<%= erb :'ficha/resistencias' %>
		</td>
	</tr>
</table>
