<table id='tlabel'>
	<tr>
		<td width='20%'>
			<table id='table-2'>
				<thead>
					<tr>
						<th width='80%'>Mano principal</th>
						<td><%= erb :'display/item', :locals => { :a => @heroe[:armas].first, :item => "arma"} %></td>
					</tr>
					<tr>
						<th width='80%'>Mano secundaria</th>
						<td><% if @heroe[:armas].nil? %>
								<% img_path = "'../../images/treasures/socket.png'" %>
								<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
							<% elsif @heroe[:armas][1] %>
								<%= erb :'display/item', :locals => { :a => @heroe[:armas][1], :item => "arma"} %>	
							<% else %>
								<% img_path = "'../../images/treasures/socket.png'" %>
								<img src=<%=img_path%> alt='ranura-hueca', id='icon' />
							<% end %>
						</td>
					</tr>
				</thead>
			</table><br>
			<table id='table-2'>
				<thead>
					<tr><th width='80%'>Armadura</th>
						<td><%= erb :'display/item', :locals => { :a => @heroe[:armaduras].first , :item => "armadura"} %></td>
					</tr>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'cabeza' , :objeto => 'proteccions'} %>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'hombros', :objeto => 'proteccions'} %>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'muñecas', :objeto => 'proteccions'} %>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'cintura', :objeto => 'proteccions'} %>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'pies',    :objeto => 'proteccions'} %>
				</thead>
			</table>
		</td>
		<td width='20%'>
			<table id='table-2'>
				<thead>
					<tr>
						<th width='80%'>Anillo Izquierdo</th>
						<% anillos = (@heroe[:miscelaneas] || []).find_all{ |anillo| anillo_lista.include?(anillo[:id])} %>
						<% if !anillos.empty? %>
							<td><%= erb :'display/item', :locals => { :a => anillos.first , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Anillo Derecho</th>
						<% anillos = (@heroe[:miscelaneas] || []).find_all{ |anillo| anillo_lista.include?(anillo[:id])} %>
						<% if anillos[1] %>
							<td><%= erb :'display/item', :locals => { :a => anillos[1] , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
				</thead>
			</table><br>
			<table id='table-2'>
				<thead>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'cuello'   , :objeto => 'miscelaneas'} %>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'espalda'  , :objeto => 'proteccions'} %>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'pechera'  , :objeto => 'proteccions'} %>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'guantes'  , :objeto => 'proteccions'} %>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'hebilla'  , :objeto => 'miscelaneas'} %>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'tobillos' , :objeto => 'miscelaneas'} %>
					</tr>
				</thead>
			</table>
		</td>
		<td width='20%'>
			<table id='table-2'>
				<thead>
					<tr>
						<th width='80%'>Amuleto Izquierdo</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].find_all { |a| a[:id] == 6 }[0] %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
					<tr>
						<th width='80%'>Amuleto Derecho</th>
						<% if @heroe[:miscelaneas].nil? %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>	
						<% elsif a = @heroe[:miscelaneas].find_all { |a| a[:id] == 6 }[1] %>
							<td><%= erb :'display/item', :locals => { :a => a , :item => "miscelanea"} %></td>
						<% else %>
							<% img_path = "'../../images/treasures/socket.png'" %>
							<td><img src=<%=img_path%> alt='ranura-hueca', id='icon' /></td>
						<% end %>
					</tr>
				</thead>
			</table><br>
			<table id='table-2'>
				<thead>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'argolla'     , :objeto => 'miscelaneas'} %>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'pendientes'  , :objeto => 'miscelaneas'} %>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'tatuajes'    , :objeto => 'miscelaneas'} %>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'cadena'      , :objeto => 'miscelaneas'} %>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'broche'      , :objeto => 'miscelaneas'} %>
					<%= erb :'ficha/inventario/field', :locals => {:field => 'entrepierna' , :objeto => 'proteccions'} %>
				</thead>
			</table>
		</td>
		<td width='40%'>
			<%= erb :'ficha/stats' %>
			<%= erb :'ficha/hechizos' if @heroe[:hechizos] %>
			<%= erb :'ficha/resistencias' %>
		</td>
	</tr>
</table>
