<% p       = profesion(prof[:id]) %>
<% nombre  = profesion(prof[:id])[:name] %> 
<% path    = "'../../images/profesiones/#{nombre}.png'" %>

<div class="information_popup_container">
	<div class="information">
		<img src=<%= path %> alt=<%= nombre %>, id='icon' />
	</div>
	<div class="popup_information">
		<h3><%= nombre.capitalize %>
			<br><br>
			<img src=<%= path %> alt=<%= nombre %>, id='icon3' />
		</h3>
		<h3>Aprendizajes</h3>
		<% prof[:aprendiz].each do |aprendizaje| %>
			<li><%= p[:aprendiz][aprendizaje][:name] %></li>
		<% end %>
	</div>
</div>
