<title>Hero Sheet: Lista de armaduras %></title>

<%= erb :menu %><br><br><br<br>

<link rel="stylesheet" href="../../css/main.css" type="text/css" />
<link rel="stylesheet" href="../../app.css" type="text/css" />

<h1><center>Lista de Armaduras</center></h1>
<br><br>
<table id='table-2'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Icono</th>
			<th>Nombre</th>
			<th>Categoría</th>
			<th>Defensa</th>
		</tr>	
	</thead>
	<tbody>
		<% armaduras.each do |a| %>
			<tr>
				<td><%= a[:id] %></td>
				<td>
					<% img_path = "'../images/armaduras/#{a[:name]}.png'" %>
					<img src=<%=img_path%> alt=<%=a[:name]%>, id='icon' />
				</td>
				<td><%= a[:name].capitalize %></td>
				<td><%= a[:categoria].capitalize %></td>
				<td><%= a[:powa] %></td>
			</tr>
		<% end %>
	</tbody>
</table>