<%= erb :menu %><br><br><br<br>

<link rel="stylesheet" href="../../css/main.css" type="text/css" />
<link rel="stylesheet" href="../../app.css" type="text/css" />

<h1>Lista de Armas</h1>

<table id='table-2'>
	<thead>
		<tr><th>Icono</th>
			<% armas.first.keys.each do |columna| %>
				<th><%= columna.capitalize %></th>
			<% end %>
		</tr>	
	</thead>
	<tbody>
		<% armas.each do |a| %>
			<tr>
				<td><img src=<%= "'../images/armas/#{a[:name]}.png'" %> alt=<%=a[:name]%>, id='icon' /></td>
				<% armas.first.keys.each do |columna| %> 
					<td><%= a[columna.to_sym].to_s.capitalize %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<br>