<title>Herosheet: Lista de Armas</title>
<%= erb :menu %><br>
<h1>Lista de Armas</h1>

<table id='table-2'>
	<thead>
		<tr>
			<th>Icono</th>
			<th>Nombre</th>
			<th>Categoría</th>
			<th>Ataque</th>
			<th>Diagonal</th>
			<th>Ranuras</th>
		</tr>	
	</thead>
	<tbody>
		<% armas.each do |a| %>
			<tr>
				<td><img src=<%= "'../images/armas/#{a.name}.png'" %> alt=<%=a.name%>, id='icon' /></td>
				<td><%= a.name.capitalize %></td>
				<td><%= a.categoria.capitalize %></td>
				<td><%= a.ataque %></td>
				<td><%= a.diagonal %></td>
				<td><%= a.ranuras %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>