<title>Hero Sheet: Lista de armaduras %></title>
<%= erb :menu %><br>
<h1>Lista de Armaduras</h1>

<table id='table-2'>
	<thead>
		<tr><th>Icono</th>
			<th>Nombre</th>
			<th>Categoría</th>
			<th>Defensa</th>
			<th>Precio</th>
		</tr>	
	</thead>
	<tbody>
		<% armaduras.each do |item| %>
		<% a = Armadura.new(item) %>
			<tr>
				<td><img src=<%= a.img_path %> alt=<%=a.name%>, id='icon' /></td>
				<td><%= a.name.capitalize %></td>
				<td><%= a.categoria %></td>
				<td><%= a.defensa.to_s %></td>
				<td><%= a.precio %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>