<%= erb :menu %><br><br><br<br>

<link rel="stylesheet" href="../../css/main.css" type="text/css" />
<link rel="stylesheet" href="../../app.css" type="text/css" />

<table id='tlabel'>
	<tbody>
		<tr><% 6.times do |i| %>
				<td width='15%'>
					<h2><%= gema_calidades[i-1] %></h2><br>
					<table id='table-2'>
						<thead>
							<tr><th>ID</th>
								<th>Icono</th>
								<th>Nombre</th>
							</tr>	
						</thead>
						<tbody>
							<% gemas.each do |g| %>
								<% if g.calidad == gema_calidades[i] %>
									<tr><td><%= g.id %></td>
										<td><%= erb :'display/gema', :locals => { :gema => g } %></td>
										<td><%= g.name %></td>
									</tr>
								<% end%>
							<% end %>
						</tbody>
					</table>
					<br>
				</td>	
			<% end%>
		</tr>
	</tbody>
</table>