<title>HeroSheet: Joyas</title>
<%= erb :menu %><br>
<h1>Lista de Joyas</h1>

<table id='table-2'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Icono</th>
			<th>Nombre</th>
			<th>Bonificadores</th>
		</tr>	
	</thead>
	<tbody>
		<% joyas.each do |j| %>
			<tr>
				<td><%= j.id %></td>
				<td><img src=<%= j.img_path %> alt=<%= j.name %>, id='icon' /></td>
				<td>Joya <%= j.name %></td>
				<td><%= j.fits %>
			</tr>
		<% end %>
	</tbody>
</table>