<title>Herosheet: Joyas</title>
<%= erb :menu %><br>
<h1>Lista de Joyas</h1>

<table id='table-2'>
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<% joya_ranuras.each do |ranura| %>
				<th><%= ranura %></th>
			<% end %>
		</tr>	
	</thead>
	<tbody>
		<% joyas.each do |j| %>
			<tr>
				<td><%= j.id %></td>
				<td><%= "Joya " + j.name %></td>
				<% joya_ranuras.each do |ranura| %>
					<% if j.fits[ranura.to_sym] %>
						<td><%= erb :'display/display', :locals => { 
								:title       => "Joya " + j.name, 
								:path        => j.img_path,
								:description => j.fits[ranura.to_sym] } %></td>
					<% else %>
						<td><%= "x" %></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>