<title>Herosheet: Lista de Misceláneas</title>
<%= erb :menu %><br>
<h1>Lista de Misceláneas</h1>

<table id='table-2'>
	<thead>
		<tr>
			<th>Icono</th>
			<th>Nombre</th>
			<th>Permitidos</th>
		</tr>	
	</thead>
	<tbody>
		<% miscelaneas.each do |m| %>
			<tr>
				<td><% img_path = "'../images/miscelaneas/#{m.name}.png'" %>
					<img src=<%=img_path%> alt=<%=m.name%>, id='icon' />
				</td>
				<td><%= m.name.capitalize %></td>
				<td><%= m.max %></td>
			</tr>
		<% end %>
	</tbody>
</table><br>