<table id='tier', style="background-color:<%= item.tier_color %>;">
<tbody>
	<tr><td>
		<% if item.tier %>
			<h3>Tier de <%= "ola ke ase" %></h3>
		<% end %>
		<h3>Engarces</h3>
			<% if item.gemas %>
				<% item.gemas.each do |g| %>
					<img src=<%= gema(g).img_path %> alt=<%= gema(g).name %>, id='icon' />
				<% end %>
			<% end %>
			<% if item.joyas %>
				<% item.joyas.each do |j| %>
					<img src=<%= joya(j).img_path %> alt=<%= joya(j).name %>, id='icon' />
				<% end %>
			<% end %>
			<% if item.runas %>
				<% item.runas.each do |r| %>
					<img src=<%= runa(r).img_path %> alt=<%= runa(r).name %>, id='icon' />
				<% end %>
			<% end %>	
			<% item.ranuras_libres.times do %>
				<%= erb :'display/ranura' %>
			<% end %>
	</td></tr>
</tbody>
</table>	